---
import '../styles/globals.css';
import Layout from '../layouts/Layout.astro';
import TabsContainer from '../components/TabsContainer';

---

<Layout title="Image Tools">
	<main class="container mx-auto py-8">
		<h1 class="text-3xl font-bold mb-8 text-center"><a href="https://m1n.land">M1n</a> Tools</h1>
		<TabsContainer client:load />
	</main>
</Layout>